<!DOCTYPE>
<html>
<head>
	<link href="../static/crikit.css" rel="stylesheet">
</head>

<body>
	<div id="alerts" class="box">Waiting for geolocation...</div>

    <div id="info" class="box">
        <h1>Crikit</h1>
        <span id="description">What did we do before thermometers? In the late 1800's two men independently published 
            equations which tied temperature to the frequency of a cricket's chirps. Crikit uses 
            geolocate data and the OpenWeatherMap API to get the temperature at the user's location. 
            It then generates a chirping noise consistent with that temperature.

            Crikit seeks to remind us of what we have lost by distancing ourselves from the natural world.
        </span>
        <p>
            <a href="https://github.com/KaiDalgleish/crikit" target="_blank">
                <img src="../static/githubLogo.png" alt="See the code on Github" id="logo">
            </a>
        </p>
    </div>

	<div id="switch-div" class="toggle">
	    <input id="switch" type="checkbox">
	    <label data-off="&#9724;" data-on="&#9654;"></label>
	</div>

</body>

<script src="https://code.jquery.com/jquery.js"> </script>
<script src="https://code.createjs.com/soundjs-0.6.1.min.js"></script>
<script src="/static/crikit.js"></script>

</html>
