<!DOCTYPE>
<html>
<head>
	<link href="../static/crikit.css" rel="stylesheet">
</head>

<body >
	<!-- test line -->
	<div id="test_box"> </div>
	
	<div id="start_chirp_div">
		<br><br><br><br><br><br>
		<form action="/chirp">
			<input type="radio" name="user_choice" value="use_user_location"> Get temperature for my location
			<br><br>
			<input type="text" name="user_choice" id="temp_input"> Use this temperature
			<br><br>
			<input type="submit" id="start_chirping_button" value="Chirp">
		</form>
	</div>

	<div id="stop_chirp_div">
		<br><br><br><br><br><br><br><br><br><br>
		<form action="/crikit">
			<input type="submit" id="stop_chirping_button" value="Stop Chirping">
		</form>
		
		<!-- test lines -->
		<!-- <p>{{ chirp_time }} between each chirp</p> -->
	</div>

	<ul>
		{% for message in get_flashed_messages() %}
			<li> {{ message }} </li>
		{% endfor %}
	</ul>

</body>
<script src="https://code.jquery.com/jquery.js"> </script>
<!-- <script src="/static/crickit.js"></script> -->


<script>
console.log("im in the script");
var start_chirp = document.getElementById("start_chirp_div");
var stop_chirp = document.getElementById("stop_chirp_div");
$(start_chirp).show();
$(stop_chirp).hide();

var stop_button = document.getElementById("stop_chirping_button");
var start_button = document.getElementById("start_chirping_button");

function changeChirp() { 
	//doesn't submit, hides stop and shows start. 
	
	evt.preventDefault();
	$(start_chirp).toggle();
	$(stop_chirp).toggle();
};

function startChirping(evt) {
	//Passes user input to .py
	//later, does stuff to make chirp noise or calls helper function
	
	changeChirp()

	var test_info = $("#temp_input").val(); 

	// eventually want to pass both choice and info, maybe as dictionary?
	//var info = {"user_choice": $("input[name=user_choice]:checked").val(), "temp": $("#temp_input").val()};

	$.get('/chirp', function (server_info){console.log('got into ajax');});
	//$.get('/chirp', info, got_chirp_info(chirp_time));
};


function stopChirping(evt) { 

	changeChirp()

};
	


$("#start_chirping_button").on('click', startChirping);
$("#stop_chirping_button").on('click', stopChirping);

</script>

</html>